.frame {
  position: absolute;
  height: 400px;
  width: 400px;
  top: 50%;
  left: 50%;
  background-color: black;
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  margin-top: -200px;
  margin-left: -200px;
  filter: contrast(25);
  border-radius: 3px;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ball {
  position: relative;
  height: 90px;
  width: 90px;
  background-color: #fff;
  border-radius: 50%;
  filter: blur(50%);
}
.ball .bulb:nth-child(1) {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  transform: rotate(235deg);
}
.ball .bulb:nth-child(1):after {
  position: absolute;
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  transform-origin: 37px 37px;
  -webkit-animation: rotate 2.7s ease-in-out 0.2s infinite;
          animation: rotate 2.7s ease-in-out 0.2s infinite;
  filter: blur(5px);
}
.ball .bulb:nth-child(2) {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  transform: rotate(198deg);
}
.ball .bulb:nth-child(2):after {
  position: absolute;
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  transform-origin: 34px 34px;
  -webkit-animation: rotate 2.9s ease-in-out 0.4s infinite;
          animation: rotate 2.9s ease-in-out 0.4s infinite;
  filter: blur(5px);
}
.ball .bulb:nth-child(3) {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  transform: rotate(138deg);
}
.ball .bulb:nth-child(3):after {
  position: absolute;
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  transform-origin: 31px 31px;
  -webkit-animation: rotate 3.1s ease-in-out 0.6s infinite;
          animation: rotate 3.1s ease-in-out 0.6s infinite;
  filter: blur(5px);
}
.ball .bulb:nth-child(4) {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  transform: rotate(160deg);
}
.ball .bulb:nth-child(4):after {
  position: absolute;
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  transform-origin: 28px 28px;
  -webkit-animation: rotate 3.3s ease-in-out 0.8s infinite;
          animation: rotate 3.3s ease-in-out 0.8s infinite;
  filter: blur(5px);
}
.ball .bulb:nth-child(5) {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  transform: rotate(82deg);
}
.ball .bulb:nth-child(5):after {
  position: absolute;
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  transform-origin: 25px 25px;
  -webkit-animation: rotate 3.5s ease-in-out 1s infinite;
          animation: rotate 3.5s ease-in-out 1s infinite;
  filter: blur(5px);
}
.ball .bulb:nth-child(6) {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  transform: rotate(219deg);
}
.ball .bulb:nth-child(6):after {
  position: absolute;
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  transform-origin: 22px 22px;
  -webkit-animation: rotate 3.7s ease-in-out 1.2s infinite;
          animation: rotate 3.7s ease-in-out 1.2s infinite;
  filter: blur(5px);
}
.ball .bulb:nth-child(7) {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  transform: rotate(122deg);
}
.ball .bulb:nth-child(7):after {
  position: absolute;
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  transform-origin: 19px 19px;
  -webkit-animation: rotate 3.9s ease-in-out 1.4s infinite;
          animation: rotate 3.9s ease-in-out 1.4s infinite;
  filter: blur(5px);
}
.ball .bulb:nth-child(8) {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  transform: rotate(28deg);
}
.ball .bulb:nth-child(8):after {
  position: absolute;
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  transform-origin: 16px 16px;
  -webkit-animation: rotate 4.1s ease-in-out 1.6s infinite;
          animation: rotate 4.1s ease-in-out 1.6s infinite;
  filter: blur(5px);
}
.ball .bulb:nth-child(9) {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  transform: rotate(245deg);
}
.ball .bulb:nth-child(9):after {
  position: absolute;
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  transform-origin: 13px 13px;
  -webkit-animation: rotate 4.3s ease-in-out 1.8s infinite;
          animation: rotate 4.3s ease-in-out 1.8s infinite;
  filter: blur(5px);
}
.ball .bulb:nth-child(10) {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  transform: rotate(79deg);
}
.ball .bulb:nth-child(10):after {
  position: absolute;
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  transform-origin: 10px 10px;
  -webkit-animation: rotate 4.5s ease-in-out 2s infinite;
          animation: rotate 4.5s ease-in-out 2s infinite;
  filter: blur(5px);
}
.ball .spark:nth-child(1) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 8px;
  height: 8px;
  transform: rotate(116deg);
}
.ball .spark:nth-child(1):after {
  position: absolute;
  display: block;
  content: "";
  width: 7.2px;
  height: 7.2px;
  background: #fff;
  border-radius: 50%;
  transform-origin: 57px 58px;
  -webkit-animation: rotate 3.55s ease-in-out 0.2s infinite;
          animation: rotate 3.55s ease-in-out 0.2s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(2) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 9px;
  height: 9px;
  transform: rotate(185deg);
}
.ball .spark:nth-child(2):after {
  position: absolute;
  display: block;
  content: "";
  width: 7.4px;
  height: 7.4px;
  background: #fff;
  border-radius: 50%;
  transform-origin: 54px 56px;
  -webkit-animation: rotate 3.6s ease-in-out 0.4s infinite;
          animation: rotate 3.6s ease-in-out 0.4s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(3) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 10px;
  height: 10px;
  transform: rotate(300deg);
}
.ball .spark:nth-child(3):after {
  position: absolute;
  display: block;
  content: "";
  width: 7.6px;
  height: 7.6px;
  background: #fff;
  border-radius: 50%;
  transform-origin: 51px 54px;
  -webkit-animation: rotate 3.65s ease-in-out 0.6s infinite;
          animation: rotate 3.65s ease-in-out 0.6s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(4) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 11px;
  height: 11px;
  transform: rotate(70deg);
}
.ball .spark:nth-child(4):after {
  position: absolute;
  display: block;
  content: "";
  width: 7.8px;
  height: 7.8px;
  background: #fff;
  border-radius: 50%;
  transform-origin: 48px 52px;
  -webkit-animation: rotate 3.7s ease-in-out 0.8s infinite;
          animation: rotate 3.7s ease-in-out 0.8s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(5) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 12px;
  height: 12px;
  transform: rotate(148deg);
}
.ball .spark:nth-child(5):after {
  position: absolute;
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
  transform-origin: 45px 50px;
  -webkit-animation: rotate 3.75s ease-in-out 1s infinite;
          animation: rotate 3.75s ease-in-out 1s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(6) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 13px;
  height: 13px;
  transform: rotate(104deg);
}
.ball .spark:nth-child(6):after {
  position: absolute;
  display: block;
  content: "";
  width: 8.2px;
  height: 8.2px;
  background: #fff;
  border-radius: 50%;
  transform-origin: 42px 48px;
  -webkit-animation: rotate 3.8s ease-in-out 1.2s infinite;
          animation: rotate 3.8s ease-in-out 1.2s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(7) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 14px;
  height: 14px;
  transform: rotate(126deg);
}
.ball .spark:nth-child(7):after {
  position: absolute;
  display: block;
  content: "";
  width: 8.4px;
  height: 8.4px;
  background: #fff;
  border-radius: 50%;
  transform-origin: 39px 46px;
  -webkit-animation: rotate 3.85s ease-in-out 1.4s infinite;
          animation: rotate 3.85s ease-in-out 1.4s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(8) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 15px;
  height: 15px;
  transform: rotate(169deg);
}
.ball .spark:nth-child(8):after {
  position: absolute;
  display: block;
  content: "";
  width: 8.6px;
  height: 8.6px;
  background: #fff;
  border-radius: 50%;
  transform-origin: 36px 44px;
  -webkit-animation: rotate 3.9s ease-in-out 1.6s infinite;
          animation: rotate 3.9s ease-in-out 1.6s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(9) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 16px;
  height: 16px;
  transform: rotate(163deg);
}
.ball .spark:nth-child(9):after {
  position: absolute;
  display: block;
  content: "";
  width: 8.8px;
  height: 8.8px;
  background: #fff;
  border-radius: 50%;
  transform-origin: 33px 42px;
  -webkit-animation: rotate 3.95s ease-in-out 1.8s infinite;
          animation: rotate 3.95s ease-in-out 1.8s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(10) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 17px;
  height: 17px;
  transform: rotate(271deg);
}
.ball .spark:nth-child(10):after {
  position: absolute;
  display: block;
  content: "";
  width: 9px;
  height: 9px;
  background: #fff;
  border-radius: 50%;
  transform-origin: 30px 40px;
  -webkit-animation: rotate 4s ease-in-out 2s infinite;
          animation: rotate 4s ease-in-out 2s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(11) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 18px;
  height: 18px;
  transform: rotate(203deg);
}
.ball .spark:nth-child(11):after {
  position: absolute;
  display: block;
  content: "";
  width: 9.2px;
  height: 9.2px;
  background: #fff;
  border-radius: 50%;
  transform-origin: 27px 38px;
  -webkit-animation: rotate 4.05s ease-in-out 2.2s infinite;
          animation: rotate 4.05s ease-in-out 2.2s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(12) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 19px;
  height: 19px;
  transform: rotate(151deg);
}
.ball .spark:nth-child(12):after {
  position: absolute;
  display: block;
  content: "";
  width: 9.4px;
  height: 9.4px;
  background: #fff;
  border-radius: 50%;
  transform-origin: 24px 36px;
  -webkit-animation: rotate 4.1s ease-in-out 2.4s infinite;
          animation: rotate 4.1s ease-in-out 2.4s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(13) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 20px;
  height: 20px;
  transform: rotate(176deg);
}
.ball .spark:nth-child(13):after {
  position: absolute;
  display: block;
  content: "";
  width: 9.6px;
  height: 9.6px;
  background: #fff;
  border-radius: 50%;
  transform-origin: 21px 34px;
  -webkit-animation: rotate 4.15s ease-in-out 2.6s infinite;
          animation: rotate 4.15s ease-in-out 2.6s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(14) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 21px;
  height: 21px;
  transform: rotate(18deg);
}
.ball .spark:nth-child(14):after {
  position: absolute;
  display: block;
  content: "";
  width: 9.8px;
  height: 9.8px;
  background: #fff;
  border-radius: 50%;
  transform-origin: 18px 32px;
  -webkit-animation: rotate 4.2s ease-in-out 2.8s infinite;
          animation: rotate 4.2s ease-in-out 2.8s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(15) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 22px;
  height: 22px;
  transform: rotate(292deg);
}
.ball .spark:nth-child(15):after {
  position: absolute;
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  transform-origin: 15px 30px;
  -webkit-animation: rotate 4.25s ease-in-out 3s infinite;
          animation: rotate 4.25s ease-in-out 3s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(16) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 23px;
  height: 23px;
  transform: rotate(177deg);
}
.ball .spark:nth-child(16):after {
  position: absolute;
  display: block;
  content: "";
  width: 10.2px;
  height: 10.2px;
  background: #fff;
  border-radius: 50%;
  transform-origin: 12px 28px;
  -webkit-animation: rotate 4.3s ease-in-out 3.2s infinite;
          animation: rotate 4.3s ease-in-out 3.2s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(17) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 24px;
  height: 24px;
  transform: rotate(67deg);
}
.ball .spark:nth-child(17):after {
  position: absolute;
  display: block;
  content: "";
  width: 10.4px;
  height: 10.4px;
  background: #fff;
  border-radius: 50%;
  transform-origin: 9px 26px;
  -webkit-animation: rotate 4.35s ease-in-out 3.4s infinite;
          animation: rotate 4.35s ease-in-out 3.4s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(18) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 25px;
  height: 25px;
  transform: rotate(149deg);
}
.ball .spark:nth-child(18):after {
  position: absolute;
  display: block;
  content: "";
  width: 10.6px;
  height: 10.6px;
  background: #fff;
  border-radius: 50%;
  transform-origin: 6px 24px;
  -webkit-animation: rotate 4.4s ease-in-out 3.6s infinite;
          animation: rotate 4.4s ease-in-out 3.6s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(19) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 26px;
  height: 26px;
  transform: rotate(4deg);
}
.ball .spark:nth-child(19):after {
  position: absolute;
  display: block;
  content: "";
  width: 10.8px;
  height: 10.8px;
  background: #fff;
  border-radius: 50%;
  transform-origin: 3px 22px;
  -webkit-animation: rotate 4.45s ease-in-out 3.8s infinite;
          animation: rotate 4.45s ease-in-out 3.8s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(20) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 27px;
  height: 27px;
  transform: rotate(157deg);
}
.ball .spark:nth-child(20):after {
  position: absolute;
  display: block;
  content: "";
  width: 11px;
  height: 11px;
  background: #fff;
  border-radius: 50%;
  transform-origin: 0px 20px;
  -webkit-animation: rotate 4.5s ease-in-out 4s infinite;
          animation: rotate 4.5s ease-in-out 4s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(21) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 28px;
  height: 28px;
  transform: rotate(80deg);
}
.ball .spark:nth-child(21):after {
  position: absolute;
  display: block;
  content: "";
  width: 11.2px;
  height: 11.2px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -3px 18px;
  -webkit-animation: rotate 4.55s ease-in-out 4.2s infinite;
          animation: rotate 4.55s ease-in-out 4.2s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(22) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 29px;
  height: 29px;
  transform: rotate(72deg);
}
.ball .spark:nth-child(22):after {
  position: absolute;
  display: block;
  content: "";
  width: 11.4px;
  height: 11.4px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -6px 16px;
  -webkit-animation: rotate 4.6s ease-in-out 4.4s infinite;
          animation: rotate 4.6s ease-in-out 4.4s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(23) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 30px;
  height: 30px;
  transform: rotate(148deg);
}
.ball .spark:nth-child(23):after {
  position: absolute;
  display: block;
  content: "";
  width: 11.6px;
  height: 11.6px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -9px 14px;
  -webkit-animation: rotate 4.65s ease-in-out 4.6s infinite;
          animation: rotate 4.65s ease-in-out 4.6s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(24) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 31px;
  height: 31px;
  transform: rotate(7deg);
}
.ball .spark:nth-child(24):after {
  position: absolute;
  display: block;
  content: "";
  width: 11.8px;
  height: 11.8px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -12px 12px;
  -webkit-animation: rotate 4.7s ease-in-out 4.8s infinite;
          animation: rotate 4.7s ease-in-out 4.8s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(25) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 32px;
  height: 32px;
  transform: rotate(222deg);
}
.ball .spark:nth-child(25):after {
  position: absolute;
  display: block;
  content: "";
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -15px 10px;
  -webkit-animation: rotate 4.75s ease-in-out 5s infinite;
          animation: rotate 4.75s ease-in-out 5s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(26) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 33px;
  height: 33px;
  transform: rotate(247deg);
}
.ball .spark:nth-child(26):after {
  position: absolute;
  display: block;
  content: "";
  width: 12.2px;
  height: 12.2px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -18px 8px;
  -webkit-animation: rotate 4.8s ease-in-out 5.2s infinite;
          animation: rotate 4.8s ease-in-out 5.2s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(27) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 34px;
  height: 34px;
  transform: rotate(257deg);
}
.ball .spark:nth-child(27):after {
  position: absolute;
  display: block;
  content: "";
  width: 12.4px;
  height: 12.4px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -21px 6px;
  -webkit-animation: rotate 4.85s ease-in-out 5.4s infinite;
          animation: rotate 4.85s ease-in-out 5.4s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(28) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 35px;
  height: 35px;
  transform: rotate(23deg);
}
.ball .spark:nth-child(28):after {
  position: absolute;
  display: block;
  content: "";
  width: 12.6px;
  height: 12.6px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -24px 4px;
  -webkit-animation: rotate 4.9s ease-in-out 5.6s infinite;
          animation: rotate 4.9s ease-in-out 5.6s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(29) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 36px;
  height: 36px;
  transform: rotate(213deg);
}
.ball .spark:nth-child(29):after {
  position: absolute;
  display: block;
  content: "";
  width: 12.8px;
  height: 12.8px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -27px 2px;
  -webkit-animation: rotate 4.95s ease-in-out 5.8s infinite;
          animation: rotate 4.95s ease-in-out 5.8s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(30) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 37px;
  height: 37px;
  transform: rotate(268deg);
}
.ball .spark:nth-child(30):after {
  position: absolute;
  display: block;
  content: "";
  width: 13px;
  height: 13px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -30px 0px;
  -webkit-animation: rotate 5s ease-in-out 6s infinite;
          animation: rotate 5s ease-in-out 6s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(31) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 38px;
  height: 38px;
  transform: rotate(300deg);
}
.ball .spark:nth-child(31):after {
  position: absolute;
  display: block;
  content: "";
  width: 13.2px;
  height: 13.2px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -33px -2px;
  -webkit-animation: rotate 5.05s ease-in-out 6.2s infinite;
          animation: rotate 5.05s ease-in-out 6.2s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(32) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 39px;
  height: 39px;
  transform: rotate(224deg);
}
.ball .spark:nth-child(32):after {
  position: absolute;
  display: block;
  content: "";
  width: 13.4px;
  height: 13.4px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -36px -4px;
  -webkit-animation: rotate 5.1s ease-in-out 6.4s infinite;
          animation: rotate 5.1s ease-in-out 6.4s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(33) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 40px;
  height: 40px;
  transform: rotate(184deg);
}
.ball .spark:nth-child(33):after {
  position: absolute;
  display: block;
  content: "";
  width: 13.6px;
  height: 13.6px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -39px -6px;
  -webkit-animation: rotate 5.15s ease-in-out 6.6s infinite;
          animation: rotate 5.15s ease-in-out 6.6s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(34) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 41px;
  height: 41px;
  transform: rotate(55deg);
}
.ball .spark:nth-child(34):after {
  position: absolute;
  display: block;
  content: "";
  width: 13.8px;
  height: 13.8px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -42px -8px;
  -webkit-animation: rotate 5.2s ease-in-out 6.8s infinite;
          animation: rotate 5.2s ease-in-out 6.8s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(35) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 42px;
  height: 42px;
  transform: rotate(88deg);
}
.ball .spark:nth-child(35):after {
  position: absolute;
  display: block;
  content: "";
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -45px -10px;
  -webkit-animation: rotate 5.25s ease-in-out 7s infinite;
          animation: rotate 5.25s ease-in-out 7s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(36) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 43px;
  height: 43px;
  transform: rotate(50deg);
}
.ball .spark:nth-child(36):after {
  position: absolute;
  display: block;
  content: "";
  width: 14.2px;
  height: 14.2px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -48px -12px;
  -webkit-animation: rotate 5.3s ease-in-out 7.2s infinite;
          animation: rotate 5.3s ease-in-out 7.2s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(37) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 44px;
  height: 44px;
  transform: rotate(280deg);
}
.ball .spark:nth-child(37):after {
  position: absolute;
  display: block;
  content: "";
  width: 14.4px;
  height: 14.4px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -51px -14px;
  -webkit-animation: rotate 5.35s ease-in-out 7.4s infinite;
          animation: rotate 5.35s ease-in-out 7.4s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(38) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 45px;
  height: 45px;
  transform: rotate(18deg);
}
.ball .spark:nth-child(38):after {
  position: absolute;
  display: block;
  content: "";
  width: 14.6px;
  height: 14.6px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -54px -16px;
  -webkit-animation: rotate 5.4s ease-in-out 7.6s infinite;
          animation: rotate 5.4s ease-in-out 7.6s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(39) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 46px;
  height: 46px;
  transform: rotate(159deg);
}
.ball .spark:nth-child(39):after {
  position: absolute;
  display: block;
  content: "";
  width: 14.8px;
  height: 14.8px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -57px -18px;
  -webkit-animation: rotate 5.45s ease-in-out 7.8s infinite;
          animation: rotate 5.45s ease-in-out 7.8s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(40) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 47px;
  height: 47px;
  transform: rotate(15deg);
}
.ball .spark:nth-child(40):after {
  position: absolute;
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -60px -20px;
  -webkit-animation: rotate 5.5s ease-in-out 8s infinite;
          animation: rotate 5.5s ease-in-out 8s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(41) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 48px;
  height: 48px;
  transform: rotate(19deg);
}
.ball .spark:nth-child(41):after {
  position: absolute;
  display: block;
  content: "";
  width: 15.2px;
  height: 15.2px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -63px -22px;
  -webkit-animation: rotate 5.55s ease-in-out 8.2s infinite;
          animation: rotate 5.55s ease-in-out 8.2s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(42) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 49px;
  height: 49px;
  transform: rotate(75deg);
}
.ball .spark:nth-child(42):after {
  position: absolute;
  display: block;
  content: "";
  width: 15.4px;
  height: 15.4px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -66px -24px;
  -webkit-animation: rotate 5.6s ease-in-out 8.4s infinite;
          animation: rotate 5.6s ease-in-out 8.4s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(43) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 50px;
  height: 50px;
  transform: rotate(18deg);
}
.ball .spark:nth-child(43):after {
  position: absolute;
  display: block;
  content: "";
  width: 15.6px;
  height: 15.6px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -69px -26px;
  -webkit-animation: rotate 5.65s ease-in-out 8.6s infinite;
          animation: rotate 5.65s ease-in-out 8.6s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(44) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 51px;
  height: 51px;
  transform: rotate(215deg);
}
.ball .spark:nth-child(44):after {
  position: absolute;
  display: block;
  content: "";
  width: 15.8px;
  height: 15.8px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -72px -28px;
  -webkit-animation: rotate 5.7s ease-in-out 8.8s infinite;
          animation: rotate 5.7s ease-in-out 8.8s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(45) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 52px;
  height: 52px;
  transform: rotate(87deg);
}
.ball .spark:nth-child(45):after {
  position: absolute;
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -75px -30px;
  -webkit-animation: rotate 5.75s ease-in-out 9s infinite;
          animation: rotate 5.75s ease-in-out 9s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(46) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 53px;
  height: 53px;
  transform: rotate(187deg);
}
.ball .spark:nth-child(46):after {
  position: absolute;
  display: block;
  content: "";
  width: 16.2px;
  height: 16.2px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -78px -32px;
  -webkit-animation: rotate 5.8s ease-in-out 9.2s infinite;
          animation: rotate 5.8s ease-in-out 9.2s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(47) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 54px;
  height: 54px;
  transform: rotate(245deg);
}
.ball .spark:nth-child(47):after {
  position: absolute;
  display: block;
  content: "";
  width: 16.4px;
  height: 16.4px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -81px -34px;
  -webkit-animation: rotate 5.85s ease-in-out 9.4s infinite;
          animation: rotate 5.85s ease-in-out 9.4s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(48) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 55px;
  height: 55px;
  transform: rotate(259deg);
}
.ball .spark:nth-child(48):after {
  position: absolute;
  display: block;
  content: "";
  width: 16.6px;
  height: 16.6px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -84px -36px;
  -webkit-animation: rotate 5.9s ease-in-out 9.6s infinite;
          animation: rotate 5.9s ease-in-out 9.6s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(49) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 56px;
  height: 56px;
  transform: rotate(256deg);
}
.ball .spark:nth-child(49):after {
  position: absolute;
  display: block;
  content: "";
  width: 16.8px;
  height: 16.8px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -87px -38px;
  -webkit-animation: rotate 5.95s ease-in-out 9.8s infinite;
          animation: rotate 5.95s ease-in-out 9.8s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(50) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 57px;
  height: 57px;
  transform: rotate(51deg);
}
.ball .spark:nth-child(50):after {
  position: absolute;
  display: block;
  content: "";
  width: 17px;
  height: 17px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -90px -40px;
  -webkit-animation: rotate 6s ease-in-out 10s infinite;
          animation: rotate 6s ease-in-out 10s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(51) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 58px;
  height: 58px;
  transform: rotate(37deg);
}
.ball .spark:nth-child(51):after {
  position: absolute;
  display: block;
  content: "";
  width: 17.2px;
  height: 17.2px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -93px -42px;
  -webkit-animation: rotate 6.05s ease-in-out 10.2s infinite;
          animation: rotate 6.05s ease-in-out 10.2s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(52) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 59px;
  height: 59px;
  transform: rotate(250deg);
}
.ball .spark:nth-child(52):after {
  position: absolute;
  display: block;
  content: "";
  width: 17.4px;
  height: 17.4px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -96px -44px;
  -webkit-animation: rotate 6.1s ease-in-out 10.4s infinite;
          animation: rotate 6.1s ease-in-out 10.4s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(53) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 60px;
  height: 60px;
  transform: rotate(185deg);
}
.ball .spark:nth-child(53):after {
  position: absolute;
  display: block;
  content: "";
  width: 17.6px;
  height: 17.6px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -99px -46px;
  -webkit-animation: rotate 6.15s ease-in-out 10.6s infinite;
          animation: rotate 6.15s ease-in-out 10.6s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(54) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 61px;
  height: 61px;
  transform: rotate(144deg);
}
.ball .spark:nth-child(54):after {
  position: absolute;
  display: block;
  content: "";
  width: 17.8px;
  height: 17.8px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -102px -48px;
  -webkit-animation: rotate 6.2s ease-in-out 10.8s infinite;
          animation: rotate 6.2s ease-in-out 10.8s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(55) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 62px;
  height: 62px;
  transform: rotate(177deg);
}
.ball .spark:nth-child(55):after {
  position: absolute;
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -105px -50px;
  -webkit-animation: rotate 6.25s ease-in-out 11s infinite;
          animation: rotate 6.25s ease-in-out 11s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(56) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 63px;
  height: 63px;
  transform: rotate(274deg);
}
.ball .spark:nth-child(56):after {
  position: absolute;
  display: block;
  content: "";
  width: 18.2px;
  height: 18.2px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -108px -52px;
  -webkit-animation: rotate 6.3s ease-in-out 11.2s infinite;
          animation: rotate 6.3s ease-in-out 11.2s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(57) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 64px;
  height: 64px;
  transform: rotate(237deg);
}
.ball .spark:nth-child(57):after {
  position: absolute;
  display: block;
  content: "";
  width: 18.4px;
  height: 18.4px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -111px -54px;
  -webkit-animation: rotate 6.35s ease-in-out 11.4s infinite;
          animation: rotate 6.35s ease-in-out 11.4s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(58) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 65px;
  height: 65px;
  transform: rotate(185deg);
}
.ball .spark:nth-child(58):after {
  position: absolute;
  display: block;
  content: "";
  width: 18.6px;
  height: 18.6px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -114px -56px;
  -webkit-animation: rotate 6.4s ease-in-out 11.6s infinite;
          animation: rotate 6.4s ease-in-out 11.6s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(59) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 66px;
  height: 66px;
  transform: rotate(18deg);
}
.ball .spark:nth-child(59):after {
  position: absolute;
  display: block;
  content: "";
  width: 18.8px;
  height: 18.8px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -117px -58px;
  -webkit-animation: rotate 6.45s ease-in-out 11.8s infinite;
          animation: rotate 6.45s ease-in-out 11.8s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(60) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 67px;
  height: 67px;
  transform: rotate(234deg);
}
.ball .spark:nth-child(60):after {
  position: absolute;
  display: block;
  content: "";
  width: 19px;
  height: 19px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -120px -60px;
  -webkit-animation: rotate 6.5s ease-in-out 12s infinite;
          animation: rotate 6.5s ease-in-out 12s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(61) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 68px;
  height: 68px;
  transform: rotate(154deg);
}
.ball .spark:nth-child(61):after {
  position: absolute;
  display: block;
  content: "";
  width: 19.2px;
  height: 19.2px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -123px -62px;
  -webkit-animation: rotate 6.55s ease-in-out 12.2s infinite;
          animation: rotate 6.55s ease-in-out 12.2s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(62) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 69px;
  height: 69px;
  transform: rotate(250deg);
}
.ball .spark:nth-child(62):after {
  position: absolute;
  display: block;
  content: "";
  width: 19.4px;
  height: 19.4px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -126px -64px;
  -webkit-animation: rotate 6.6s ease-in-out 12.4s infinite;
          animation: rotate 6.6s ease-in-out 12.4s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(63) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 70px;
  height: 70px;
  transform: rotate(193deg);
}
.ball .spark:nth-child(63):after {
  position: absolute;
  display: block;
  content: "";
  width: 19.6px;
  height: 19.6px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -129px -66px;
  -webkit-animation: rotate 6.65s ease-in-out 12.6s infinite;
          animation: rotate 6.65s ease-in-out 12.6s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(64) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 71px;
  height: 71px;
  transform: rotate(194deg);
}
.ball .spark:nth-child(64):after {
  position: absolute;
  display: block;
  content: "";
  width: 19.8px;
  height: 19.8px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -132px -68px;
  -webkit-animation: rotate 6.7s ease-in-out 12.8s infinite;
          animation: rotate 6.7s ease-in-out 12.8s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(65) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 72px;
  height: 72px;
  transform: rotate(52deg);
}
.ball .spark:nth-child(65):after {
  position: absolute;
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -135px -70px;
  -webkit-animation: rotate 6.75s ease-in-out 13s infinite;
          animation: rotate 6.75s ease-in-out 13s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(66) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 73px;
  height: 73px;
  transform: rotate(228deg);
}
.ball .spark:nth-child(66):after {
  position: absolute;
  display: block;
  content: "";
  width: 20.2px;
  height: 20.2px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -138px -72px;
  -webkit-animation: rotate 6.8s ease-in-out 13.2s infinite;
          animation: rotate 6.8s ease-in-out 13.2s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(67) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 74px;
  height: 74px;
  transform: rotate(67deg);
}
.ball .spark:nth-child(67):after {
  position: absolute;
  display: block;
  content: "";
  width: 20.4px;
  height: 20.4px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -141px -74px;
  -webkit-animation: rotate 6.85s ease-in-out 13.4s infinite;
          animation: rotate 6.85s ease-in-out 13.4s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(68) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 75px;
  height: 75px;
  transform: rotate(54deg);
}
.ball .spark:nth-child(68):after {
  position: absolute;
  display: block;
  content: "";
  width: 20.6px;
  height: 20.6px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -144px -76px;
  -webkit-animation: rotate 6.9s ease-in-out 13.6s infinite;
          animation: rotate 6.9s ease-in-out 13.6s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(69) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 76px;
  height: 76px;
  transform: rotate(129deg);
}
.ball .spark:nth-child(69):after {
  position: absolute;
  display: block;
  content: "";
  width: 20.8px;
  height: 20.8px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -147px -78px;
  -webkit-animation: rotate 6.95s ease-in-out 13.8s infinite;
          animation: rotate 6.95s ease-in-out 13.8s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(70) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 77px;
  height: 77px;
  transform: rotate(12deg);
}
.ball .spark:nth-child(70):after {
  position: absolute;
  display: block;
  content: "";
  width: 21px;
  height: 21px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -150px -80px;
  -webkit-animation: rotate 7s ease-in-out 14s infinite;
          animation: rotate 7s ease-in-out 14s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(71) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 78px;
  height: 78px;
  transform: rotate(24deg);
}
.ball .spark:nth-child(71):after {
  position: absolute;
  display: block;
  content: "";
  width: 21.2px;
  height: 21.2px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -153px -82px;
  -webkit-animation: rotate 7.05s ease-in-out 14.2s infinite;
          animation: rotate 7.05s ease-in-out 14.2s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(72) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 79px;
  height: 79px;
  transform: rotate(117deg);
}
.ball .spark:nth-child(72):after {
  position: absolute;
  display: block;
  content: "";
  width: 21.4px;
  height: 21.4px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -156px -84px;
  -webkit-animation: rotate 7.1s ease-in-out 14.4s infinite;
          animation: rotate 7.1s ease-in-out 14.4s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(73) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 80px;
  height: 80px;
  transform: rotate(295deg);
}
.ball .spark:nth-child(73):after {
  position: absolute;
  display: block;
  content: "";
  width: 21.6px;
  height: 21.6px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -159px -86px;
  -webkit-animation: rotate 7.15s ease-in-out 14.6s infinite;
          animation: rotate 7.15s ease-in-out 14.6s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(74) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 81px;
  height: 81px;
  transform: rotate(129deg);
}
.ball .spark:nth-child(74):after {
  position: absolute;
  display: block;
  content: "";
  width: 21.8px;
  height: 21.8px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -162px -88px;
  -webkit-animation: rotate 7.2s ease-in-out 14.8s infinite;
          animation: rotate 7.2s ease-in-out 14.8s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(75) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 82px;
  height: 82px;
  transform: rotate(128deg);
}
.ball .spark:nth-child(75):after {
  position: absolute;
  display: block;
  content: "";
  width: 22px;
  height: 22px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -165px -90px;
  -webkit-animation: rotate 7.25s ease-in-out 15s infinite;
          animation: rotate 7.25s ease-in-out 15s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(76) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 83px;
  height: 83px;
  transform: rotate(35deg);
}
.ball .spark:nth-child(76):after {
  position: absolute;
  display: block;
  content: "";
  width: 22.2px;
  height: 22.2px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -168px -92px;
  -webkit-animation: rotate 7.3s ease-in-out 15.2s infinite;
          animation: rotate 7.3s ease-in-out 15.2s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(77) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 84px;
  height: 84px;
  transform: rotate(96deg);
}
.ball .spark:nth-child(77):after {
  position: absolute;
  display: block;
  content: "";
  width: 22.4px;
  height: 22.4px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -171px -94px;
  -webkit-animation: rotate 7.35s ease-in-out 15.4s infinite;
          animation: rotate 7.35s ease-in-out 15.4s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(78) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 85px;
  height: 85px;
  transform: rotate(114deg);
}
.ball .spark:nth-child(78):after {
  position: absolute;
  display: block;
  content: "";
  width: 22.6px;
  height: 22.6px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -174px -96px;
  -webkit-animation: rotate 7.4s ease-in-out 15.6s infinite;
          animation: rotate 7.4s ease-in-out 15.6s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(79) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 86px;
  height: 86px;
  transform: rotate(127deg);
}
.ball .spark:nth-child(79):after {
  position: absolute;
  display: block;
  content: "";
  width: 22.8px;
  height: 22.8px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -177px -98px;
  -webkit-animation: rotate 7.45s ease-in-out 15.8s infinite;
          animation: rotate 7.45s ease-in-out 15.8s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(80) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 87px;
  height: 87px;
  transform: rotate(99deg);
}
.ball .spark:nth-child(80):after {
  position: absolute;
  display: block;
  content: "";
  width: 23px;
  height: 23px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -180px -100px;
  -webkit-animation: rotate 7.5s ease-in-out 16s infinite;
          animation: rotate 7.5s ease-in-out 16s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(81) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 88px;
  height: 88px;
  transform: rotate(9deg);
}
.ball .spark:nth-child(81):after {
  position: absolute;
  display: block;
  content: "";
  width: 23.2px;
  height: 23.2px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -183px -102px;
  -webkit-animation: rotate 7.55s ease-in-out 16.2s infinite;
          animation: rotate 7.55s ease-in-out 16.2s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(82) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 89px;
  height: 89px;
  transform: rotate(80deg);
}
.ball .spark:nth-child(82):after {
  position: absolute;
  display: block;
  content: "";
  width: 23.4px;
  height: 23.4px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -186px -104px;
  -webkit-animation: rotate 7.6s ease-in-out 16.4s infinite;
          animation: rotate 7.6s ease-in-out 16.4s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(83) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 90px;
  height: 90px;
  transform: rotate(187deg);
}
.ball .spark:nth-child(83):after {
  position: absolute;
  display: block;
  content: "";
  width: 23.6px;
  height: 23.6px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -189px -106px;
  -webkit-animation: rotate 7.65s ease-in-out 16.6s infinite;
          animation: rotate 7.65s ease-in-out 16.6s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(84) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 91px;
  height: 91px;
  transform: rotate(181deg);
}
.ball .spark:nth-child(84):after {
  position: absolute;
  display: block;
  content: "";
  width: 23.8px;
  height: 23.8px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -192px -108px;
  -webkit-animation: rotate 7.7s ease-in-out 16.8s infinite;
          animation: rotate 7.7s ease-in-out 16.8s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(85) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 92px;
  height: 92px;
  transform: rotate(294deg);
}
.ball .spark:nth-child(85):after {
  position: absolute;
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -195px -110px;
  -webkit-animation: rotate 7.75s ease-in-out 17s infinite;
          animation: rotate 7.75s ease-in-out 17s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(86) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 93px;
  height: 93px;
  transform: rotate(50deg);
}
.ball .spark:nth-child(86):after {
  position: absolute;
  display: block;
  content: "";
  width: 24.2px;
  height: 24.2px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -198px -112px;
  -webkit-animation: rotate 7.8s ease-in-out 17.2s infinite;
          animation: rotate 7.8s ease-in-out 17.2s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(87) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 94px;
  height: 94px;
  transform: rotate(299deg);
}
.ball .spark:nth-child(87):after {
  position: absolute;
  display: block;
  content: "";
  width: 24.4px;
  height: 24.4px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -201px -114px;
  -webkit-animation: rotate 7.85s ease-in-out 17.4s infinite;
          animation: rotate 7.85s ease-in-out 17.4s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(88) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 95px;
  height: 95px;
  transform: rotate(265deg);
}
.ball .spark:nth-child(88):after {
  position: absolute;
  display: block;
  content: "";
  width: 24.6px;
  height: 24.6px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -204px -116px;
  -webkit-animation: rotate 7.9s ease-in-out 17.6s infinite;
          animation: rotate 7.9s ease-in-out 17.6s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(89) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 96px;
  height: 96px;
  transform: rotate(167deg);
}
.ball .spark:nth-child(89):after {
  position: absolute;
  display: block;
  content: "";
  width: 24.8px;
  height: 24.8px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -207px -118px;
  -webkit-animation: rotate 7.95s ease-in-out 17.8s infinite;
          animation: rotate 7.95s ease-in-out 17.8s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(90) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 97px;
  height: 97px;
  transform: rotate(261deg);
}
.ball .spark:nth-child(90):after {
  position: absolute;
  display: block;
  content: "";
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -210px -120px;
  -webkit-animation: rotate 8s ease-in-out 18s infinite;
          animation: rotate 8s ease-in-out 18s infinite;
  filter: blur(3px);
}
.ball .spark:nth-child(91) {
  position: absolute;
  top: 38px;
  left: 38px;
  width: 98px;
  height: 98px;
  transform: rotate(254deg);
}
.ball .spark:nth-child(91):after {
  position: absolute;
  display: block;
  content: "";
  width: 25.2px;
  height: 25.2px;
  background: #fff;
  border-radius: 50%;
  transform-origin: -213px -122px;
  -webkit-animation: rotate 8.05s ease-in-out 18.2s infinite;
          animation: rotate 8.05s ease-in-out 18.2s infinite;
  filter: blur(3px);
}

@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg) translate3d(0px, 0, 0);
  }
  to {
    transform: rotate(360deg) translate3d(0, 0px, 0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg) translate3d(0px, 0, 0);
  }
  to {
    transform: rotate(360deg) translate3d(0, 0px, 0);
  }
}/*# sourceMappingURL=style.css.map */