* {
  box-sizing: border-box;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 400px;
  width: 400px;
  background-color: #4c4c4c;
  border-radius: 5px;
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  margin-top: -200px;
  margin-left: -200px;
  color: #fff;
  overflow: hidden;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle-wrapper {
  width: 212px;
  height: 212px;
  position: relative;
}
.circle-wrapper .outer {
  background-color: #242424;
  border-radius: 50%;
  border: 8px solid #3A3A3A;
  width: 100%;
  height: 100%;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: calc(100% - 38px);
  height: calc(100% - 38px);
}
.inner .border {
  top: 2.5px;
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
.inner .border .seconds {
  position: absolute;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background-color: wheat;
  left: 86.5px;
  transform-origin: 0 85.5px;
}
.inner .border .seconds:nth-child(1) {
  transform: rotateZ(0deg);
}
.inner .border .seconds:nth-child(2) {
  transform: rotateZ(6deg);
}
.inner .border .seconds:nth-child(3) {
  transform: rotateZ(12deg);
}
.inner .border .seconds:nth-child(4) {
  transform: rotateZ(18deg);
}
.inner .border .seconds:nth-child(5) {
  transform: rotateZ(24deg);
}
.inner .border .seconds:nth-child(6) {
  transform: rotateZ(30deg);
}
.inner .border .seconds:nth-child(7) {
  transform: rotateZ(36deg);
}
.inner .border .seconds:nth-child(8) {
  transform: rotateZ(42deg);
}
.inner .border .seconds:nth-child(9) {
  transform: rotateZ(48deg);
}
.inner .border .seconds:nth-child(10) {
  transform: rotateZ(54deg);
}
.inner .border .seconds:nth-child(11) {
  transform: rotateZ(60deg);
}
.inner .border .seconds:nth-child(12) {
  transform: rotateZ(66deg);
}
.inner .border .seconds:nth-child(13) {
  transform: rotateZ(72deg);
}
.inner .border .seconds:nth-child(14) {
  transform: rotateZ(78deg);
}
.inner .border .seconds:nth-child(15) {
  transform: rotateZ(84deg);
}
.inner .border .seconds:nth-child(16) {
  transform: rotateZ(90deg);
}
.inner .border .seconds:nth-child(17) {
  transform: rotateZ(96deg);
}
.inner .border .seconds:nth-child(18) {
  transform: rotateZ(102deg);
}
.inner .border .seconds:nth-child(19) {
  transform: rotateZ(108deg);
}
.inner .border .seconds:nth-child(20) {
  transform: rotateZ(114deg);
}
.inner .border .seconds:nth-child(21) {
  transform: rotateZ(120deg);
}
.inner .border .seconds:nth-child(22) {
  transform: rotateZ(126deg);
}
.inner .border .seconds:nth-child(23) {
  transform: rotateZ(132deg);
}
.inner .border .seconds:nth-child(24) {
  transform: rotateZ(138deg);
}
.inner .border .seconds:nth-child(25) {
  transform: rotateZ(144deg);
}
.inner .border .seconds:nth-child(26) {
  transform: rotateZ(150deg);
}
.inner .border .seconds:nth-child(27) {
  transform: rotateZ(156deg);
}
.inner .border .seconds:nth-child(28) {
  transform: rotateZ(162deg);
}
.inner .border .seconds:nth-child(29) {
  transform: rotateZ(168deg);
}
.inner .border .seconds:nth-child(30) {
  transform: rotateZ(174deg);
}
.inner .border .seconds:nth-child(31) {
  transform: rotateZ(180deg);
}
.inner .border .seconds:nth-child(32) {
  transform: rotateZ(186deg);
}
.inner .border .seconds:nth-child(33) {
  transform: rotateZ(192deg);
}
.inner .border .seconds:nth-child(34) {
  transform: rotateZ(198deg);
}
.inner .border .seconds:nth-child(35) {
  transform: rotateZ(204deg);
}
.inner .border .seconds:nth-child(36) {
  transform: rotateZ(210deg);
}
.inner .border .seconds:nth-child(37) {
  transform: rotateZ(216deg);
}
.inner .border .seconds:nth-child(38) {
  transform: rotateZ(222deg);
}
.inner .border .seconds:nth-child(39) {
  transform: rotateZ(228deg);
}
.inner .border .seconds:nth-child(40) {
  transform: rotateZ(234deg);
}
.inner .border .seconds:nth-child(41) {
  transform: rotateZ(240deg);
}
.inner .border .seconds:nth-child(42) {
  transform: rotateZ(246deg);
}
.inner .border .seconds:nth-child(43) {
  transform: rotateZ(252deg);
}
.inner .border .seconds:nth-child(44) {
  transform: rotateZ(258deg);
}
.inner .border .seconds:nth-child(45) {
  transform: rotateZ(264deg);
}
.inner .border .seconds:nth-child(46) {
  transform: rotateZ(270deg);
}
.inner .border .seconds:nth-child(47) {
  transform: rotateZ(276deg);
}
.inner .border .seconds:nth-child(48) {
  transform: rotateZ(282deg);
}
.inner .border .seconds:nth-child(49) {
  transform: rotateZ(288deg);
}
.inner .border .seconds:nth-child(50) {
  transform: rotateZ(294deg);
}
.inner .border .seconds:nth-child(51) {
  transform: rotateZ(300deg);
}
.inner .border .seconds:nth-child(52) {
  transform: rotateZ(306deg);
}
.inner .border .seconds:nth-child(53) {
  transform: rotateZ(312deg);
}
.inner .border .seconds:nth-child(54) {
  transform: rotateZ(318deg);
}
.inner .border .seconds:nth-child(55) {
  transform: rotateZ(324deg);
}
.inner .border .seconds:nth-child(56) {
  transform: rotateZ(330deg);
}
.inner .border .seconds:nth-child(57) {
  transform: rotateZ(336deg);
}
.inner .border .seconds:nth-child(58) {
  transform: rotateZ(342deg);
}
.inner .border .seconds:nth-child(59) {
  transform: rotateZ(348deg);
}
.inner .border .seconds:nth-child(60) {
  transform: rotateZ(354deg);
}

svg {
  width: 212px;
  height: 212px;
}
svg circle {
  stroke-width: 3px;
  fill: transparent;
  stroke: #F35A5B;
  stroke-dasharray: 578;
  stroke-dashoffset: 578;
  transform: rotateZ(-90deg);
  transform-origin: 50% 50%;
  -webkit-animation: dash 60s linear infinite;
          animation: dash 60s linear infinite;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110px;
  display: flex;
  flex-direction: column;
}
.content .date, .content .health, .content .time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content .date span, .content .health span, .content .time span {
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  font-weight: 600;
}
.content .time span {
  text-align: center;
  font-size: 36px;
  width: 100%;
  display: block;
}
.content .health span .fa-heart {
  color: #f85b5b;
  -webkit-animation: beat 0.9s ease-in-out infinite;
  animation: heart 0.9s ease-in-out infinite;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 578;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 578;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes heart {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}
@keyframes heart {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}/*# sourceMappingURL=style.css.map */