*, *::after, *::before {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.frame {
  position: relative;
  height: 400px;
  width: 400px;
  background-image: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.galaxy {
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  box-shadow: 3px 8px 15px 0 rgba(0, 0, 0, 0.2), -3px -8px 15px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(0deg, #5f2e7b 0%, #00a399 40%);
  overflow: hidden;
}

p {
  position: absolute;
  top: 100px;
  left: 100px;
  top: var(--top);
  left: var(--left);
  width: 1px;
  height: 1px;
  border-radius: 1px;
  background-color: #fff;
  -webkit-animation: stars var(--duration) var(--delay) ease-in-out infinite;
          animation: stars var(--duration) var(--delay) ease-in-out infinite;
}

p:nth-child(1) {
  --top:100px;
  --left:104px;
  --duration:7s;
  --delay:-2s;
}

p:nth-child(2) {
  --top:195px;
  --left:61px;
  --duration:5s;
  --delay:-2s;
}

p:nth-child(3) {
  --top:230px;
  --left:23px;
  --duration:6s;
  --delay:2s;
}

p:nth-child(4) {
  --top:163px;
  --left:129px;
  --duration:6s;
  --delay:-3s;
}

p:nth-child(5) {
  --top:259px;
  --left:74px;
  --duration:4s;
  --delay:1s;
}

p:nth-child(6) {
  --top:157px;
  --left:64px;
  --duration:5s;
  --delay:0s;
}

p:nth-child(7) {
  --top:143px;
  --left:101px;
  --duration:6s;
  --delay:-1s;
}

p:nth-child(8) {
  --top:159px;
  --left:212px;
  --duration:4s;
  --delay:1s;
}

p:nth-child(9) {
  --top:9px;
  --left:123px;
  --duration:6s;
  --delay:1s;
}

p:nth-child(10) {
  --top:140px;
  --left:118px;
  --duration:5s;
  --delay:-3s;
}

p:nth-child(11) {
  --top:205px;
  --left:66px;
  --duration:8s;
  --delay:-1s;
}

p:nth-child(12) {
  --top:154px;
  --left:194px;
  --duration:7s;
  --delay:2s;
}

p:nth-child(13) {
  --top:63px;
  --left:2px;
  --duration:9s;
  --delay:-2s;
}

p:nth-child(14) {
  --top:200px;
  --left:60px;
  --duration:5s;
  --delay:1s;
}

p:nth-child(15) {
  --top:188px;
  --left:116px;
  --duration:4s;
  --delay:-1s;
}

p:nth-child(16) {
  --top:279px;
  --left:46px;
  --duration:5s;
  --delay:-1s;
}

p:nth-child(17) {
  --top:62px;
  --left:136px;
  --duration:4s;
  --delay:-1s;
}

p:nth-child(18) {
  --top:164px;
  --left:152px;
  --duration:9s;
  --delay:1s;
}

p:nth-child(19) {
  --top:231px;
  --left:93px;
  --duration:8s;
  --delay:-1s;
}

p:nth-child(20) {
  --top:176px;
  --left:233px;
  --duration:7s;
  --delay:2s;
}

p:nth-child(21) {
  --top:287px;
  --left:217px;
  --duration:4s;
  --delay:-3s;
}

p:nth-child(22) {
  --top:295px;
  --left:124px;
  --duration:6s;
  --delay:1s;
}

p:nth-child(23) {
  --top:52px;
  --left:49px;
  --duration:4s;
  --delay:-3s;
}

p:nth-child(24) {
  --top:134px;
  --left:214px;
  --duration:7s;
  --delay:2s;
}

p:nth-child(25) {
  --top:10px;
  --left:103px;
  --duration:9s;
  --delay:-3s;
}

p:nth-child(26) {
  --top:232px;
  --left:256px;
  --duration:5s;
  --delay:-2s;
}

p:nth-child(27) {
  --top:216px;
  --left:232px;
  --duration:5s;
  --delay:-3s;
}

p:nth-child(28) {
  --top:229px;
  --left:223px;
  --duration:8s;
  --delay:-2s;
}

p:nth-child(29) {
  --top:204px;
  --left:208px;
  --duration:9s;
  --delay:1s;
}

p:nth-child(30) {
  --top:169px;
  --left:153px;
  --duration:6s;
  --delay:1s;
}

p:nth-child(31) {
  --top:90px;
  --left:204px;
  --duration:4s;
  --delay:-2s;
}

p:nth-child(32) {
  --top:49px;
  --left:245px;
  --duration:9s;
  --delay:-3s;
}

p:nth-child(33) {
  --top:136px;
  --left:229px;
  --duration:8s;
  --delay:0s;
}

p:nth-child(34) {
  --top:283px;
  --left:147px;
  --duration:5s;
  --delay:1s;
}

p:nth-child(35) {
  --top:130px;
  --left:31px;
  --duration:8s;
  --delay:-1s;
}

p:nth-child(36) {
  --top:123px;
  --left:233px;
  --duration:9s;
  --delay:-3s;
}

p:nth-child(37) {
  --top:220px;
  --left:134px;
  --duration:5s;
  --delay:2s;
}

p:nth-child(38) {
  --top:42px;
  --left:44px;
  --duration:6s;
  --delay:-3s;
}

p:nth-child(39) {
  --top:214px;
  --left:199px;
  --duration:6s;
  --delay:2s;
}

p:nth-child(40) {
  --top:200px;
  --left:240px;
  --duration:4s;
  --delay:0s;
}

p:nth-child(41) {
  --top:20px;
  --left:219px;
  --duration:8s;
  --delay:-3s;
}

p:nth-child(42) {
  --top:56px;
  --left:71px;
  --duration:9s;
  --delay:2s;
}

p:nth-child(43) {
  --top:248px;
  --left:187px;
  --duration:7s;
  --delay:1s;
}

p:nth-child(44) {
  --top:265px;
  --left:232px;
  --duration:9s;
  --delay:2s;
}

p:nth-child(45) {
  --top:142px;
  --left:55px;
  --duration:8s;
  --delay:-2s;
}

p:nth-child(46) {
  --top:183px;
  --left:285px;
  --duration:4s;
  --delay:-1s;
}

p:nth-child(47) {
  --top:296px;
  --left:52px;
  --duration:4s;
  --delay:-1s;
}

p:nth-child(48) {
  --top:147px;
  --left:285px;
  --duration:5s;
  --delay:0s;
}

p:nth-child(49) {
  --top:83px;
  --left:247px;
  --duration:4s;
  --delay:1s;
}

p:nth-child(50) {
  --top:295px;
  --left:294px;
  --duration:8s;
  --delay:-1s;
}

p:nth-child(51) {
  --top:299px;
  --left:212px;
  --duration:8s;
  --delay:1s;
}

p:nth-child(52) {
  --top:223px;
  --left:229px;
  --duration:9s;
  --delay:1s;
}

p:nth-child(53) {
  --top:23px;
  --left:230px;
  --duration:8s;
  --delay:0s;
}

p:nth-child(54) {
  --top:241px;
  --left:8px;
  --duration:7s;
  --delay:1s;
}

p:nth-child(55) {
  --top:123px;
  --left:54px;
  --duration:5s;
  --delay:0s;
}

p:nth-child(56) {
  --top:37px;
  --left:258px;
  --duration:6s;
  --delay:1s;
}

p:nth-child(57) {
  --top:214px;
  --left:34px;
  --duration:4s;
  --delay:-1s;
}

p:nth-child(58) {
  --top:115px;
  --left:38px;
  --duration:7s;
  --delay:2s;
}

p:nth-child(59) {
  --top:115px;
  --left:293px;
  --duration:9s;
  --delay:0s;
}

p:nth-child(60) {
  --top:120px;
  --left:30px;
  --duration:4s;
  --delay:-1s;
}

p:nth-child(61) {
  --top:20px;
  --left:219px;
  --duration:9s;
  --delay:-2s;
}

p:nth-child(62) {
  --top:75px;
  --left:91px;
  --duration:7s;
  --delay:-3s;
}

p:nth-child(63) {
  --top:31px;
  --left:122px;
  --duration:8s;
  --delay:-2s;
}

p:nth-child(64) {
  --top:221px;
  --left:149px;
  --duration:5s;
  --delay:1s;
}

p:nth-child(65) {
  --top:135px;
  --left:199px;
  --duration:7s;
  --delay:1s;
}

p:nth-child(66) {
  --top:120px;
  --left:217px;
  --duration:7s;
  --delay:-2s;
}

p:nth-child(67) {
  --top:4px;
  --left:40px;
  --duration:6s;
  --delay:1s;
}

p:nth-child(68) {
  --top:63px;
  --left:21px;
  --duration:8s;
  --delay:-3s;
}

p:nth-child(69) {
  --top:229px;
  --left:205px;
  --duration:5s;
  --delay:-1s;
}

p:nth-child(70) {
  --top:60px;
  --left:147px;
  --duration:8s;
  --delay:-1s;
}

p:nth-child(71) {
  --top:217px;
  --left:15px;
  --duration:5s;
  --delay:1s;
}

p:nth-child(72) {
  --top:7px;
  --left:64px;
  --duration:4s;
  --delay:-1s;
}

p:nth-child(73) {
  --top:32px;
  --left:203px;
  --duration:6s;
  --delay:2s;
}

p:nth-child(74) {
  --top:157px;
  --left:288px;
  --duration:4s;
  --delay:2s;
}

p:nth-child(75) {
  --top:119px;
  --left:16px;
  --duration:6s;
  --delay:0s;
}

p:nth-child(76) {
  --top:32px;
  --left:288px;
  --duration:4s;
  --delay:-2s;
}

p:nth-child(77) {
  --top:142px;
  --left:148px;
  --duration:9s;
  --delay:2s;
}

p:nth-child(78) {
  --top:93px;
  --left:98px;
  --duration:8s;
  --delay:-3s;
}

p:nth-child(79) {
  --top:125px;
  --left:294px;
  --duration:9s;
  --delay:1s;
}

p:nth-child(80) {
  --top:281px;
  --left:114px;
  --duration:6s;
  --delay:-1s;
}

p:nth-child(81) {
  --top:102px;
  --left:239px;
  --duration:5s;
  --delay:-3s;
}

p:nth-child(82) {
  --top:63px;
  --left:193px;
  --duration:6s;
  --delay:-3s;
}

p:nth-child(83) {
  --top:57px;
  --left:203px;
  --duration:8s;
  --delay:-3s;
}

p:nth-child(84) {
  --top:96px;
  --left:239px;
  --duration:5s;
  --delay:0s;
}

p:nth-child(85) {
  --top:261px;
  --left:196px;
  --duration:6s;
  --delay:0s;
}

p:nth-child(86) {
  --top:152px;
  --left:191px;
  --duration:9s;
  --delay:2s;
}

p:nth-child(87) {
  --top:118px;
  --left:239px;
  --duration:5s;
  --delay:-3s;
}

p:nth-child(88) {
  --top:122px;
  --left:77px;
  --duration:5s;
  --delay:1s;
}

p:nth-child(89) {
  --top:11px;
  --left:227px;
  --duration:4s;
  --delay:1s;
}

p:nth-child(90) {
  --top:88px;
  --left:148px;
  --duration:9s;
  --delay:1s;
}

p:nth-child(91) {
  --top:108px;
  --left:183px;
  --duration:7s;
  --delay:-1s;
}

p:nth-child(92) {
  --top:182px;
  --left:33px;
  --duration:7s;
  --delay:-3s;
}

p:nth-child(93) {
  --top:84px;
  --left:193px;
  --duration:5s;
  --delay:0s;
}

p:nth-child(94) {
  --top:259px;
  --left:224px;
  --duration:6s;
  --delay:0s;
}

p:nth-child(95) {
  --top:164px;
  --left:72px;
  --duration:8s;
  --delay:-1s;
}

p:nth-child(96) {
  --top:17px;
  --left:7px;
  --duration:8s;
  --delay:-3s;
}

p:nth-child(97) {
  --top:12px;
  --left:77px;
  --duration:5s;
  --delay:2s;
}

p:nth-child(98) {
  --top:200px;
  --left:53px;
  --duration:8s;
  --delay:2s;
}

p:nth-child(99) {
  --top:87px;
  --left:159px;
  --duration:4s;
  --delay:-1s;
}

p:nth-child(100) {
  --top:223px;
  --left:42px;
  --duration:9s;
  --delay:-2s;
}

p:nth-child(101) {
  --top:36px;
  --left:142px;
  --duration:6s;
  --delay:2s;
}

p:nth-child(102) {
  --top:269px;
  --left:221px;
  --duration:9s;
  --delay:0s;
}

p:nth-child(103) {
  --top:234px;
  --left:95px;
  --duration:9s;
  --delay:2s;
}

p:nth-child(104) {
  --top:109px;
  --left:171px;
  --duration:4s;
  --delay:-2s;
}

p:nth-child(105) {
  --top:8px;
  --left:189px;
  --duration:7s;
  --delay:1s;
}

p:nth-child(106) {
  --top:298px;
  --left:277px;
  --duration:7s;
  --delay:2s;
}

p:nth-child(107) {
  --top:82px;
  --left:279px;
  --duration:4s;
  --delay:2s;
}

p:nth-child(108) {
  --top:228px;
  --left:107px;
  --duration:6s;
  --delay:1s;
}

p:nth-child(109) {
  --top:64px;
  --left:266px;
  --duration:5s;
  --delay:2s;
}

p:nth-child(110) {
  --top:201px;
  --left:245px;
  --duration:5s;
  --delay:-1s;
}

p:nth-child(111) {
  --top:45px;
  --left:194px;
  --duration:5s;
  --delay:1s;
}

p:nth-child(112) {
  --top:115px;
  --left:245px;
  --duration:7s;
  --delay:-3s;
}

p:nth-child(113) {
  --top:130px;
  --left:279px;
  --duration:9s;
  --delay:0s;
}

p:nth-child(114) {
  --top:119px;
  --left:252px;
  --duration:7s;
  --delay:-1s;
}

p:nth-child(115) {
  --top:63px;
  --left:95px;
  --duration:8s;
  --delay:-3s;
}

p:nth-child(116) {
  --top:89px;
  --left:181px;
  --duration:8s;
  --delay:0s;
}

p:nth-child(117) {
  --top:136px;
  --left:35px;
  --duration:9s;
  --delay:-1s;
}

p:nth-child(118) {
  --top:206px;
  --left:66px;
  --duration:5s;
  --delay:2s;
}

p:nth-child(119) {
  --top:113px;
  --left:285px;
  --duration:7s;
  --delay:1s;
}

p:nth-child(120) {
  --top:72px;
  --left:257px;
  --duration:9s;
  --delay:1s;
}

p:nth-child(121) {
  --top:138px;
  --left:39px;
  --duration:9s;
  --delay:-1s;
}

p:nth-child(122) {
  --top:246px;
  --left:10px;
  --duration:5s;
  --delay:-3s;
}

p:nth-child(123) {
  --top:65px;
  --left:119px;
  --duration:4s;
  --delay:-3s;
}

p:nth-child(124) {
  --top:36px;
  --left:194px;
  --duration:7s;
  --delay:-3s;
}

p:nth-child(125) {
  --top:162px;
  --left:141px;
  --duration:5s;
  --delay:-2s;
}

p:nth-child(126) {
  --top:51px;
  --left:54px;
  --duration:8s;
  --delay:0s;
}

p:nth-child(127) {
  --top:136px;
  --left:33px;
  --duration:9s;
  --delay:2s;
}

p:nth-child(128) {
  --top:50px;
  --left:164px;
  --duration:9s;
  --delay:1s;
}

p:nth-child(129) {
  --top:94px;
  --left:19px;
  --duration:7s;
  --delay:-1s;
}

p:nth-child(130) {
  --top:11px;
  --left:94px;
  --duration:5s;
  --delay:-2s;
}

p:nth-child(131) {
  --top:185px;
  --left:20px;
  --duration:7s;
  --delay:-1s;
}

p:nth-child(132) {
  --top:123px;
  --left:195px;
  --duration:4s;
  --delay:0s;
}

p:nth-child(133) {
  --top:224px;
  --left:248px;
  --duration:8s;
  --delay:2s;
}

p:nth-child(134) {
  --top:219px;
  --left:259px;
  --duration:6s;
  --delay:-1s;
}

p:nth-child(135) {
  --top:113px;
  --left:175px;
  --duration:7s;
  --delay:-3s;
}

p:nth-child(136) {
  --top:53px;
  --left:192px;
  --duration:9s;
  --delay:-2s;
}

p:nth-child(137) {
  --top:228px;
  --left:3px;
  --duration:9s;
  --delay:0s;
}

p:nth-child(138) {
  --top:174px;
  --left:181px;
  --duration:5s;
  --delay:-3s;
}

p:nth-child(139) {
  --top:32px;
  --left:273px;
  --duration:8s;
  --delay:0s;
}

p:nth-child(140) {
  --top:234px;
  --left:90px;
  --duration:8s;
  --delay:-2s;
}

p:nth-child(141) {
  --top:168px;
  --left:220px;
  --duration:4s;
  --delay:-2s;
}

p:nth-child(142) {
  --top:90px;
  --left:251px;
  --duration:4s;
  --delay:1s;
}

p:nth-child(143) {
  --top:28px;
  --left:153px;
  --duration:8s;
  --delay:0s;
}

p:nth-child(144) {
  --top:48px;
  --left:130px;
  --duration:8s;
  --delay:-1s;
}

p:nth-child(145) {
  --top:124px;
  --left:209px;
  --duration:9s;
  --delay:-3s;
}

p:nth-child(146) {
  --top:30px;
  --left:250px;
  --duration:5s;
  --delay:1s;
}

p:nth-child(147) {
  --top:197px;
  --left:221px;
  --duration:6s;
  --delay:0s;
}

p:nth-child(148) {
  --top:269px;
  --left:55px;
  --duration:9s;
  --delay:0s;
}

p:nth-child(149) {
  --top:134px;
  --left:253px;
  --duration:4s;
  --delay:-3s;
}

p:nth-child(150) {
  --top:156px;
  --left:148px;
  --duration:5s;
  --delay:-3s;
}

p:nth-child(151) {
  --top:241px;
  --left:297px;
  --duration:4s;
  --delay:-3s;
}

p:nth-child(152) {
  --top:295px;
  --left:203px;
  --duration:5s;
  --delay:-3s;
}

p:nth-child(153) {
  --top:18px;
  --left:121px;
  --duration:8s;
  --delay:2s;
}

p:nth-child(154) {
  --top:224px;
  --left:32px;
  --duration:9s;
  --delay:0s;
}

p:nth-child(155) {
  --top:242px;
  --left:49px;
  --duration:5s;
  --delay:0s;
}

p:nth-child(156) {
  --top:283px;
  --left:139px;
  --duration:5s;
  --delay:1s;
}

p:nth-child(157) {
  --top:242px;
  --left:55px;
  --duration:4s;
  --delay:-1s;
}

p:nth-child(158) {
  --top:204px;
  --left:118px;
  --duration:5s;
  --delay:-2s;
}

p:nth-child(159) {
  --top:145px;
  --left:267px;
  --duration:8s;
  --delay:-2s;
}

p:nth-child(160) {
  --top:48px;
  --left:58px;
  --duration:7s;
  --delay:0s;
}

p:nth-child(161) {
  --top:68px;
  --left:251px;
  --duration:5s;
  --delay:-1s;
}

p:nth-child(162) {
  --top:107px;
  --left:187px;
  --duration:6s;
  --delay:-1s;
}

p:nth-child(163) {
  --top:29px;
  --left:55px;
  --duration:6s;
  --delay:0s;
}

p:nth-child(164) {
  --top:116px;
  --left:164px;
  --duration:8s;
  --delay:1s;
}

p:nth-child(165) {
  --top:289px;
  --left:112px;
  --duration:8s;
  --delay:1s;
}

p:nth-child(166) {
  --top:293px;
  --left:298px;
  --duration:4s;
  --delay:-2s;
}

p:nth-child(167) {
  --top:50px;
  --left:223px;
  --duration:9s;
  --delay:0s;
}

p:nth-child(168) {
  --top:47px;
  --left:164px;
  --duration:5s;
  --delay:1s;
}

p:nth-child(169) {
  --top:63px;
  --left:224px;
  --duration:4s;
  --delay:0s;
}

p:nth-child(170) {
  --top:174px;
  --left:35px;
  --duration:6s;
  --delay:2s;
}

p:nth-child(171) {
  --top:27px;
  --left:137px;
  --duration:8s;
  --delay:0s;
}

p:nth-child(172) {
  --top:25px;
  --left:145px;
  --duration:7s;
  --delay:-2s;
}

p:nth-child(173) {
  --top:213px;
  --left:98px;
  --duration:7s;
  --delay:-2s;
}

p:nth-child(174) {
  --top:13px;
  --left:266px;
  --duration:7s;
  --delay:1s;
}

p:nth-child(175) {
  --top:122px;
  --left:200px;
  --duration:7s;
  --delay:0s;
}

p:nth-child(176) {
  --top:196px;
  --left:200px;
  --duration:6s;
  --delay:1s;
}

p:nth-child(177) {
  --top:229px;
  --left:88px;
  --duration:4s;
  --delay:-2s;
}

p:nth-child(178) {
  --top:197px;
  --left:111px;
  --duration:8s;
  --delay:1s;
}

p:nth-child(179) {
  --top:245px;
  --left:20px;
  --duration:4s;
  --delay:-2s;
}

p:nth-child(180) {
  --top:55px;
  --left:290px;
  --duration:7s;
  --delay:-2s;
}

p:nth-child(181) {
  --top:202px;
  --left:187px;
  --duration:8s;
  --delay:0s;
}

p:nth-child(182) {
  --top:2px;
  --left:249px;
  --duration:9s;
  --delay:1s;
}

p:nth-child(183) {
  --top:6px;
  --left:9px;
  --duration:5s;
  --delay:1s;
}

p:nth-child(184) {
  --top:272px;
  --left:150px;
  --duration:9s;
  --delay:-3s;
}

p:nth-child(185) {
  --top:67px;
  --left:100px;
  --duration:4s;
  --delay:2s;
}

p:nth-child(186) {
  --top:295px;
  --left:278px;
  --duration:7s;
  --delay:-1s;
}

p:nth-child(187) {
  --top:260px;
  --left:141px;
  --duration:7s;
  --delay:-3s;
}

p:nth-child(188) {
  --top:207px;
  --left:262px;
  --duration:7s;
  --delay:1s;
}

p:nth-child(189) {
  --top:184px;
  --left:7px;
  --duration:9s;
  --delay:0s;
}

p:nth-child(190) {
  --top:270px;
  --left:98px;
  --duration:7s;
  --delay:-1s;
}

p:nth-child(191) {
  --top:100px;
  --left:214px;
  --duration:6s;
  --delay:-1s;
}

p:nth-child(192) {
  --top:74px;
  --left:233px;
  --duration:7s;
  --delay:-3s;
}

p:nth-child(193) {
  --top:110px;
  --left:78px;
  --duration:5s;
  --delay:1s;
}

p:nth-child(194) {
  --top:291px;
  --left:95px;
  --duration:8s;
  --delay:2s;
}

p:nth-child(195) {
  --top:211px;
  --left:106px;
  --duration:7s;
  --delay:-1s;
}

p:nth-child(196) {
  --top:244px;
  --left:156px;
  --duration:5s;
  --delay:-3s;
}

p:nth-child(197) {
  --top:129px;
  --left:148px;
  --duration:9s;
  --delay:-2s;
}

p:nth-child(198) {
  --top:172px;
  --left:119px;
  --duration:7s;
  --delay:1s;
}

p:nth-child(199) {
  --top:227px;
  --left:85px;
  --duration:4s;
  --delay:-2s;
}

p:nth-child(200) {
  --top:173px;
  --left:249px;
  --duration:7s;
  --delay:-1s;
}

p:nth-child(201) {
  --top:198px;
  --left:140px;
  --duration:6s;
  --delay:1s;
}

p:nth-child(202) {
  --top:47px;
  --left:208px;
  --duration:6s;
  --delay:-2s;
}

p:nth-child(203) {
  --top:147px;
  --left:96px;
  --duration:6s;
  --delay:1s;
}

p:nth-child(204) {
  --top:67px;
  --left:259px;
  --duration:5s;
  --delay:2s;
}

p:nth-child(205) {
  --top:60px;
  --left:126px;
  --duration:5s;
  --delay:-1s;
}

p:nth-child(206) {
  --top:300px;
  --left:134px;
  --duration:5s;
  --delay:0s;
}

p:nth-child(207) {
  --top:170px;
  --left:70px;
  --duration:6s;
  --delay:-1s;
}

p:nth-child(208) {
  --top:68px;
  --left:184px;
  --duration:4s;
  --delay:1s;
}

p:nth-child(209) {
  --top:171px;
  --left:112px;
  --duration:6s;
  --delay:2s;
}

p:nth-child(210) {
  --top:46px;
  --left:93px;
  --duration:6s;
  --delay:-3s;
}

p:nth-child(211) {
  --top:165px;
  --left:244px;
  --duration:7s;
  --delay:0s;
}

p:nth-child(212) {
  --top:28px;
  --left:7px;
  --duration:8s;
  --delay:0s;
}

p:nth-child(213) {
  --top:185px;
  --left:16px;
  --duration:4s;
  --delay:-2s;
}

p:nth-child(214) {
  --top:252px;
  --left:57px;
  --duration:6s;
  --delay:-3s;
}

p:nth-child(215) {
  --top:75px;
  --left:23px;
  --duration:4s;
  --delay:-2s;
}

p:nth-child(216) {
  --top:181px;
  --left:278px;
  --duration:9s;
  --delay:-1s;
}

p:nth-child(217) {
  --top:176px;
  --left:90px;
  --duration:4s;
  --delay:-3s;
}

p:nth-child(218) {
  --top:78px;
  --left:31px;
  --duration:5s;
  --delay:-1s;
}

p:nth-child(219) {
  --top:84px;
  --left:43px;
  --duration:5s;
  --delay:1s;
}

p:nth-child(220) {
  --top:48px;
  --left:237px;
  --duration:5s;
  --delay:1s;
}

p:nth-child(221) {
  --top:108px;
  --left:267px;
  --duration:5s;
  --delay:0s;
}

p:nth-child(222) {
  --top:109px;
  --left:257px;
  --duration:4s;
  --delay:0s;
}

p:nth-child(223) {
  --top:270px;
  --left:84px;
  --duration:9s;
  --delay:-3s;
}

p:nth-child(224) {
  --top:158px;
  --left:23px;
  --duration:5s;
  --delay:-1s;
}

p:nth-child(225) {
  --top:129px;
  --left:288px;
  --duration:9s;
  --delay:-2s;
}

p:nth-child(226) {
  --top:233px;
  --left:63px;
  --duration:6s;
  --delay:-1s;
}

p:nth-child(227) {
  --top:17px;
  --left:23px;
  --duration:8s;
  --delay:2s;
}

p:nth-child(228) {
  --top:212px;
  --left:264px;
  --duration:7s;
  --delay:0s;
}

p:nth-child(229) {
  --top:268px;
  --left:120px;
  --duration:5s;
  --delay:-3s;
}

p:nth-child(230) {
  --top:90px;
  --left:35px;
  --duration:8s;
  --delay:1s;
}

p:nth-child(231) {
  --top:230px;
  --left:296px;
  --duration:4s;
  --delay:-1s;
}

p:nth-child(232) {
  --top:122px;
  --left:110px;
  --duration:7s;
  --delay:1s;
}

p:nth-child(233) {
  --top:222px;
  --left:74px;
  --duration:7s;
  --delay:-1s;
}

p:nth-child(234) {
  --top:246px;
  --left:49px;
  --duration:6s;
  --delay:-2s;
}

p:nth-child(235) {
  --top:13px;
  --left:163px;
  --duration:9s;
  --delay:0s;
}

p:nth-child(236) {
  --top:10px;
  --left:262px;
  --duration:4s;
  --delay:-3s;
}

p:nth-child(237) {
  --top:199px;
  --left:191px;
  --duration:7s;
  --delay:-3s;
}

p:nth-child(238) {
  --top:167px;
  --left:138px;
  --duration:9s;
  --delay:-2s;
}

p:nth-child(239) {
  --top:215px;
  --left:158px;
  --duration:4s;
  --delay:-1s;
}

p:nth-child(240) {
  --top:182px;
  --left:252px;
  --duration:4s;
  --delay:-1s;
}

p:nth-child(241) {
  --top:247px;
  --left:155px;
  --duration:7s;
  --delay:-2s;
}

p:nth-child(242) {
  --top:186px;
  --left:97px;
  --duration:8s;
  --delay:1s;
}

p:nth-child(243) {
  --top:91px;
  --left:2px;
  --duration:7s;
  --delay:-3s;
}

p:nth-child(244) {
  --top:230px;
  --left:238px;
  --duration:9s;
  --delay:-1s;
}

p:nth-child(245) {
  --top:54px;
  --left:97px;
  --duration:5s;
  --delay:2s;
}

p:nth-child(246) {
  --top:19px;
  --left:273px;
  --duration:5s;
  --delay:-1s;
}

p:nth-child(247) {
  --top:198px;
  --left:166px;
  --duration:4s;
  --delay:0s;
}

p:nth-child(248) {
  --top:298px;
  --left:30px;
  --duration:7s;
  --delay:-1s;
}

p:nth-child(249) {
  --top:106px;
  --left:73px;
  --duration:4s;
  --delay:2s;
}

p:nth-child(250) {
  --top:98px;
  --left:31px;
  --duration:8s;
  --delay:0s;
}

p:nth-child(251) {
  --top:236px;
  --left:59px;
  --duration:6s;
  --delay:-2s;
}

p:nth-child(252) {
  --top:147px;
  --left:10px;
  --duration:4s;
  --delay:-2s;
}

p:nth-child(253) {
  --top:191px;
  --left:264px;
  --duration:6s;
  --delay:2s;
}

p:nth-child(254) {
  --top:40px;
  --left:283px;
  --duration:5s;
  --delay:-2s;
}

p:nth-child(255) {
  --top:249px;
  --left:14px;
  --duration:5s;
  --delay:0s;
}

p:nth-child(256) {
  --top:243px;
  --left:182px;
  --duration:8s;
  --delay:2s;
}

p:nth-child(257) {
  --top:282px;
  --left:174px;
  --duration:5s;
  --delay:-2s;
}

p:nth-child(258) {
  --top:63px;
  --left:23px;
  --duration:7s;
  --delay:-3s;
}

p:nth-child(259) {
  --top:85px;
  --left:216px;
  --duration:7s;
  --delay:2s;
}

p:nth-child(260) {
  --top:224px;
  --left:19px;
  --duration:8s;
  --delay:1s;
}

p:nth-child(261) {
  --top:122px;
  --left:244px;
  --duration:8s;
  --delay:1s;
}

p:nth-child(262) {
  --top:274px;
  --left:270px;
  --duration:5s;
  --delay:0s;
}

p:nth-child(263) {
  --top:94px;
  --left:273px;
  --duration:8s;
  --delay:-2s;
}

p:nth-child(264) {
  --top:255px;
  --left:119px;
  --duration:4s;
  --delay:0s;
}

p:nth-child(265) {
  --top:25px;
  --left:30px;
  --duration:7s;
  --delay:2s;
}

p:nth-child(266) {
  --top:204px;
  --left:38px;
  --duration:6s;
  --delay:-1s;
}

p:nth-child(267) {
  --top:70px;
  --left:156px;
  --duration:9s;
  --delay:-2s;
}

p:nth-child(268) {
  --top:209px;
  --left:71px;
  --duration:6s;
  --delay:2s;
}

p:nth-child(269) {
  --top:290px;
  --left:81px;
  --duration:6s;
  --delay:1s;
}

p:nth-child(270) {
  --top:111px;
  --left:197px;
  --duration:6s;
  --delay:-1s;
}

p:nth-child(271) {
  --top:7px;
  --left:236px;
  --duration:4s;
  --delay:-1s;
}

p:nth-child(272) {
  --top:168px;
  --left:203px;
  --duration:7s;
  --delay:-2s;
}

p:nth-child(273) {
  --top:41px;
  --left:90px;
  --duration:5s;
  --delay:-1s;
}

p:nth-child(274) {
  --top:41px;
  --left:183px;
  --duration:7s;
  --delay:-2s;
}

p:nth-child(275) {
  --top:225px;
  --left:44px;
  --duration:7s;
  --delay:-3s;
}

p:nth-child(276) {
  --top:58px;
  --left:283px;
  --duration:4s;
  --delay:-1s;
}

p:nth-child(277) {
  --top:125px;
  --left:143px;
  --duration:9s;
  --delay:-3s;
}

p:nth-child(278) {
  --top:91px;
  --left:234px;
  --duration:5s;
  --delay:2s;
}

p:nth-child(279) {
  --top:286px;
  --left:101px;
  --duration:4s;
  --delay:-2s;
}

p:nth-child(280) {
  --top:254px;
  --left:246px;
  --duration:8s;
  --delay:-3s;
}

p:nth-child(281) {
  --top:210px;
  --left:165px;
  --duration:6s;
  --delay:-2s;
}

p:nth-child(282) {
  --top:203px;
  --left:198px;
  --duration:4s;
  --delay:-2s;
}

p:nth-child(283) {
  --top:292px;
  --left:137px;
  --duration:9s;
  --delay:2s;
}

p:nth-child(284) {
  --top:189px;
  --left:173px;
  --duration:7s;
  --delay:1s;
}

p:nth-child(285) {
  --top:260px;
  --left:74px;
  --duration:8s;
  --delay:-3s;
}

p:nth-child(286) {
  --top:220px;
  --left:53px;
  --duration:9s;
  --delay:1s;
}

p:nth-child(287) {
  --top:221px;
  --left:269px;
  --duration:8s;
  --delay:-1s;
}

p:nth-child(288) {
  --top:210px;
  --left:289px;
  --duration:7s;
  --delay:-1s;
}

p:nth-child(289) {
  --top:75px;
  --left:41px;
  --duration:9s;
  --delay:-3s;
}

p:nth-child(290) {
  --top:164px;
  --left:223px;
  --duration:8s;
  --delay:-3s;
}

p:nth-child(291) {
  --top:236px;
  --left:57px;
  --duration:6s;
  --delay:-1s;
}

p:nth-child(292) {
  --top:85px;
  --left:160px;
  --duration:6s;
  --delay:-2s;
}

p:nth-child(293) {
  --top:111px;
  --left:57px;
  --duration:7s;
  --delay:1s;
}

p:nth-child(294) {
  --top:223px;
  --left:86px;
  --duration:5s;
  --delay:2s;
}

p:nth-child(295) {
  --top:55px;
  --left:246px;
  --duration:5s;
  --delay:0s;
}

p:nth-child(296) {
  --top:239px;
  --left:25px;
  --duration:9s;
  --delay:1s;
}

p:nth-child(297) {
  --top:166px;
  --left:173px;
  --duration:9s;
  --delay:0s;
}

p:nth-child(298) {
  --top:137px;
  --left:65px;
  --duration:9s;
  --delay:0s;
}

p:nth-child(299) {
  --top:28px;
  --left:45px;
  --duration:9s;
  --delay:1s;
}

p:nth-child(300) {
  --top:238px;
  --left:294px;
  --duration:4s;
  --delay:-1s;
}

p:nth-child(301) {
  --top:166px;
  --left:32px;
  --duration:8s;
  --delay:-1s;
}

.rocket {
  position: absolute;
  top: 100px;
  left: 320px;
  width: 150px;
  height: 1px;
  background-color: #fff;
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 2%, rgba(255, 255, 255, 0) 100%);
  -webkit-animation: rocket 8s linear infinite;
          animation: rocket 8s linear infinite;
}

.rocket.r2 {
  width: 160px;
  left: 320px;
  top: 20px;
  -webkit-animation: rocket 10s linear infinite;
          animation: rocket 10s linear infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.rocket.r3 {
  width: 120px;
  left: 320px;
  top: -20px;
  -webkit-animation: rocket 9s linear infinite;
          animation: rocket 9s linear infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.rocket.r4 {
  width: 120px;
  left: 320px;
  top: 0px;
  -webkit-animation: rocket 9s 7s linear infinite;
          animation: rocket 9s 7s linear infinite;
}

@-webkit-keyframes stars {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

@keyframes stars {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
@-webkit-keyframes rocket {
  0%, 40% {
    transform: translate(0, 0) rotate(-30deg);
  }
  60%, 100% {
    transform: translate(-500px, 200px) rotate(-30deg);
  }
}
@keyframes rocket {
  0%, 40% {
    transform: translate(0, 0) rotate(-30deg);
  }
  60%, 100% {
    transform: translate(-500px, 200px) rotate(-30deg);
  }
}/*# sourceMappingURL=style.css.map */