@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);
*,*::after,::before{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(30deg,green 0%,white 100%);
}
.frame{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,rgb(205, 117, 117),rgb(15, 15, 67));
    height: 400px;
    width: 400px;
    border-radius: 5px;
    overflow: hidden;
    color: #fff;
    font-family: "Poppins",sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:grayscale;
}
.search-text{
    position: relative;
    height: 40px;
    width: 260px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 4px 8px 12px 0 rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    //overflow: hidden;
    .search-width{
        width: 210px;
        -webkit-appearance: none;
        border: none;
        outline: none;
        font-size: 13px;
        background: #fff;
		color: #046ad0;
        font-weight: 600;
        padding: 0 0 0 10px;
    }
    .search{
        position: relative;
        -webkit-appearance: none;
        border: none;
        height: 40px;
        font-size: 20px;
        width: 40px;
        color: rgb(205, 117, 117);
        background-color: #fff;
        cursor: pointer;
        transition: all .5s ease-in-out;
        &:hover{
            font-size: 25px;;
        }
    }
    ul{
        color: black;
        position: absolute;
        list-style: none;
        top: 100%;
        width: 100%;
        background-color:#fff;
        border-radius: 8px;
        margin-top: 5px;
        opacity: 0;
        visibility: hidden;
        transition: all .5s ease-in-out;
        transform: translateY(-36px);
        overflow: hidden;
        &.active{
            transform: translateY(0px);
            visibility: visible;
            opacity: 1;
            z-index: 1;
        }
        li{
            cursor: pointer;
            width: 100%;
            padding: 0 0 0 10px;
            line-height: 40px;
            transition: all .5s ease-in-out;
        }
        li:hover{
            width: 100%;
            background-color: rgb(205, 117, 117);
            color: #fff;
        }
    }
}
*:focus{
    outline: none;
}
:placeholder-shown{
    color:brown;
}
:-moz-placeholder{
    color:brown;
    opacity: 1;
}
::-webkit-input-placeholder{
    color:brown;
}